@model LinkedList<Model.CourseModel>

@{
    ViewData["Title"] = "Courses of student";
    int i = 0;
}

<table id="table" class="text-center table table-striped">
    <thead class="thead-light">
    <th scope="col">№</th>
    <th scope="col">Subject</th>
    <th scope="col">Name of Lecturer</th>
    <th scope="col">Action</th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>
                @i
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.NameLecturer
            </td>
            <td>
                <a href="~/Student/ShowMarksOfStudentCourse/?IdCourse=@item.Id&idStudent=@item.IdStudent" class="fill-modal btn btn-outline-primary">
                    Marks
                </a>

            </td>
        </tr>
    }
    </tbody>
</table>